:root {
  /* Colours */
  --color-text: black;
  --color-primary: pink;
  --color-secondary: #yellow;
  --color-dark: pink;
  --color-bg: #f5f1e0; /* off white background */

  /* Fonts */
  --font-roboto: "Roboto";
}
